/* LOGIN FORM */

.login {
<<<<<<< HEAD
    background: #f8f8f8;
=======
    background: var(--darkened-bg);
>>>>>>> 65fea550b8e6f20eb9c1d43b288381b9b9fa10c9
    height: auto;
}

.login #header {
    height: auto;
    padding: 15px 16px;
    justify-content: center;
}

.login #header h1 {
    font-size: 18px;
}

.login #header h1 a {
<<<<<<< HEAD
    color: #fff;
=======
    color: var(--header-link-color);
>>>>>>> 65fea550b8e6f20eb9c1d43b288381b9b9fa10c9
}

.login #content {
    padding: 20px 20px 0;
}

.login #container {
<<<<<<< HEAD
    background: #fff;
    border: 1px solid #eaeaea;
=======
    background: var(--body-bg);
    border: 1px solid var(--hairline-color);
>>>>>>> 65fea550b8e6f20eb9c1d43b288381b9b9fa10c9
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
    height: auto;
}

<<<<<<< HEAD
.login #content-main {
    width: 100%;
}

.login .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
    border-bottom: none;
}

.login .form-row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    clear: both;
    color: #333;
}

.login .form-row #id_username, .login .form-row #id_password {
    clear: both;
=======
.login .form-row {
    padding: 4px 0;
}

.login .form-row label {
    display: block;
    line-height: 2em;
}

.login .form-row #id_username, .login .form-row #id_password {
>>>>>>> 65fea550b8e6f20eb9c1d43b288381b9b9fa10c9
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

<<<<<<< HEAD
.login span.help {
    font-size: 10px;
    display: block;
}

.login .submit-row {
    clear: both;
    padding: 1em 0 0 9.4em;
    margin: 0;
    border: none;
    background: none;
    text-align: left;
=======
.login .submit-row {
    padding: 1em 0 0 0;
    margin: 0;
    text-align: center;
>>>>>>> 65fea550b8e6f20eb9c1d43b288381b9b9fa10c9
}

.login .password-reset-link {
    text-align: center;
}
