.home{
    flex: 4;
}




.main-container{
    background: #f2edf3;
}

.homeWidgets{
    display: flex;
    margin: 20px;
}



.ff{
    background-color: #cadfe6;
    padding: 30px;
    /* color: white; */
    font-weight: 400;
}

.ff2{
    background-color: #2c7873;
    padding: 30px;
    width: 97%;
}

.titp{
    font-size: .77rem;
}

.bb{
    background-color: #d6b83a !important;
    color: white;
}



.ss{

    /* background-color: #ebeff2; */
    background-color: #eee;
    padding: 10px 10px;
    width: 100% !important;
    /* background-color: aliceblue; */
}

/* .component{
    flex: 1;
    margin: 0px 10px;
    padding: 0px;
    border-radius: 10px;
    cursor: pointer;
    height: fit-content;
    align-items: center;
    -webkit-box-shadow: 0px 0px 15px -10px  rgba(0,0,0,1);
} */
/* .component-cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
} */